<div class="container">
    <div class="topbar">
    <div class="topbar"></div>
</div>
<div class="ma-footer-static p-4">
    <div class="footer-static">
        <div class="container">
            <div class="container-inner">
                <div class="row">
                    <style>
                        .footer-image-container {
                            margin: auto;
                        }
                    </style>
                    <div class="col-md-4">
                        <div style="border-right: 1px solid #cecece;">
                            <div>
                                <div style="margin-bottom: 8px; padding: 10px 15px;"><img alt="FAHASA.COM"
                                        src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/logo.png">
                                </div>
                                <div class="col-sm-12 col-md-12 col-xs-12 address-footer" style="font-size:13px;">Lầu 5,
                                    387-389 Hai Bà
                                    Trưng Quận 3 TP HCM
                                </div>
                                <div class="col-sm-12 col-md-12 col-xs-12 address-footer" style="font-size:13px;">Công
                                    Ty Cổ Phần Phát Hành
                                    Sách TP HCM - FAHASA
                                </div>
                                <div class="col-sm-12 col-md-12 col-xs-12 address-footer" style="font-size:13px;">60 -
                                    62 Lê Lợi, Quận 1,
                                    TP. HCM, Việt Nam
                                </div>
                                <div class="col-sm-12 col-md-12 col-xs-12 address-footer"
                                    style="font-size:13px; padding-top: 5px;">Fahasa.com
                                    nhận đặt hàng trực tuyến và giao hàng tận nơi. KHÔNG hỗ trợ đặt mua và nhận hàng
                                    trực tiếp tại văn
                                    phòng cũng như tất cả Hệ Thống Fahasa trên toàn quốc.
                                </div>
                                <div class="col-sm-12 col-md-12 col-xs-12 address-footer" style="margin: 15px 0px;">
                                    <a target="_blank"
                                        href="http://online.gov.vn/CustomWebsiteDisplay.aspx?DocId=19176">
                                        <img src="https://cdn0.fahasa.com/media/wysiwyg/Logo-NCC/logo-bo-cong-thuong-da-thong-bao1.png"
                                            style="width: 100px;" height="40px">
                                    </a>
                                </div>
                            </div>
                            <div align="center"
                                style="font-size:14.5px; margin-bottom:20px; margin-top:10px; padding: 0px;text-align: left;margin-left: 10px;">
                                <a target="_blank" href="https://www.facebook.com/fahasa/" title="Facebook">
                                    <img alt="Facebook"
                                        src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/footer/Facebook-on.png">
                                </a>
                                <a target="_blank" href="https://www.instagram.com/fahasa_official/" title="Instagram">
                                    <img alt="Instagram"
                                        src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images//footer/Insta-on.png">
                                </a>
                                <a target="_blank" href="https://www.youtube.com/channel/UCUZcVOLSxK1q6RfgzQ9-HYQ"
                                    title="Youtube">
                                    <img alt="Youtube"
                                        src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images//footer/Youtube-on.png">
                                </a>
                                <a target="_blank" href="https://fahasa-blog.tumblr.com/" title="Tumblr">
                                    <img alt="Tumblr"
                                        src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images//footer/tumblr-on.png">
                                </a>
                                <a target="_blank" href="https://twitter.com/Fahasa_com" title="Twitter">
                                    <img alt="Twitter"
                                        src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images//footer/twitter-on.png">
                                </a>
                                <a target="_blank" href="https://www.pinterest.com/fahasaVN/" title="Pinterest">
                                    <img alt="Pinterest"
                                        src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images//footer/pinterest-on.png">
                                </a>
                            </div>
                            <div style="display: inline-block; text-align: left;">
                                <div class="col-sm-6 col-md-6 col-xs-6" style="text-align: right;">
                                    <a href="https://play.google.com/store/apps/details?id=com.fahasa.android.fahasa">
                                        <img alt="FAHASA.COM"
                                            src="https://cdn0.fahasa.com/media/wysiwyg/Logo-NCC/android1.png"
                                            style="max-width: 110px;">
                                    </a>
                                </div>
                                <div class="col-sm-6 col-md-6 col-xs-6" style="padding-left: 5px;">
                                    <a href="https://itunes.apple.com/app/id1227597830?mt=8">
                                        <img alt="FAHASA.COM"
                                            src="https://cdn0.fahasa.com/media/wysiwyg/Logo-NCC/appstore1.png"
                                            style="max-width: 110px;">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-sm-6 col-md-4 col-sms-6 col-smb-12">
                                <div class="footer-static-title">
                                    <h3>DỊCH VỤ</h3>
                                </div>
                                <div class="footer-static-content">
                                    <ul class="list-unstyled">
                                        <li class="first"><a class="lh-lg text-dark text-decoration-none"
                                                href="https://www.fahasa.com/dieu-khoan-su-dung">Điều khoản
                                                sử dụng</a></li>
                                        <li><a class="lh-lg text-dark text-decoration-none"
                                                href="https://www.fahasa.com/chinh-sach-bao-mat">Chính sách bảo mật
                                                thông
                                                tin cá nhân</a></li>
                                        <li><a class="lh-lg text-dark text-decoration-none"
                                                href="https://www.fahasa.com/chinh-sach-bao-mat-thanh-toan">Chính sách
                                                bảo mật thanh toán</a></li>
                                        <li><a class="lh-lg text-dark text-decoration-none"
                                                href="https://www.fahasa.com/gioi-thieu-fahasa">Giới thiệu Fahasa</a>
                                        </li>
                                        <li class="last"><a class="lh-lg text-dark text-decoration-none"
                                                href="https://www.fahasa.com/he-thong-trung-tam-nha-sach">Hệ
                                                thống trung
                                                tâm -
                                                nhà sách</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-sms-6 col-smb-12">
                                <div class="footer-static-title">
                                    <h3>HỖ TRỢ</h3>
                                </div>
                                <div class="footer-static-content ">
                                    <ul class="list-unstyled">
                                        <li class="first"><a class="lh-lg text-dark text-decoration-none"
                                                href="https://www.fahasa.com/doi-tra-hang">Chính sách đổi -
                                                trả - hoàn tiền</a></li>
                                        <li><a class="lh-lg text-dark text-decoration-none"
                                                href="https://www.fahasa.com/chinh-sach-bao-hanh-boi-hoan">Chính sách
                                                bảo
                                                hành - bồi hoàn</a></li>
                                        <li><a class="lh-lg text-dark text-decoration-none"
                                                href="https://www.fahasa.com/phuong-thuc-van-chuyen">Chính sách vận
                                                chuyển</a></li>
                                        <li><a class="lh-lg text-dark text-decoration-none"
                                                href="https://www.fahasa.com/chinh-sach-khach-si">Chính sách khách
                                                sỉ</a>
                                        </li>
                                        <li class="last"><a class="lh-lg text-dark text-decoration-none"
                                                href="https://www.fahasa.com/huong-dan-thanh-toan-va-xuat-hd">Phương
                                                thức thanh
                                                toán và xuất HĐ</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-sms-6 col-smb-12">
                                <div class="footer-static-title">
                                    <h3>TÀI KHOẢN CỦA TÔI</h3>
                                </div>
                                <div class="footer-static-content">
                                    <ul class="list-unstyled">
                                        <li class="first footer_login_link"><a class="lh-lg text-dark text-decoration-none"
                                                href="https://www.fahasa.com/index.php/customer/account/login"
                                                onclick="return false;">Đăng
                                                nhập/Tạo mới tài khoản</a></li>
                                        <li><a class="lh-lg text-dark text-decoration-none"
                                                href="https://www.fahasa.com/index.php/customer/address">Thay đổi địa
                                                chỉ
                                                khách hàng</a></li>
                                        <li><a class="lh-lg text-dark text-decoration-none"
                                                href="https://www.fahasa.com/index.php/customer/account">Chi tiết tài
                                                khoản</a></li>
                                        <li class="last"><a class="lh-lg text-dark text-decoration-none"
                                                href="https://www.fahasa.com/index.php/sales/order/history">Lịch
                                                sử mua
                                                hàng</a></li>
                                    </ul>
                                    <script>
                                        $jq(window).on('myInfo_loaded', function () {
                                            if (fhs_account.isLoggined()) {
                                                $jq('.footer-static-content .login_link').parent().append('<li class="last"><a href="https://www.fahasa.com//tryout/seriesbook/">Sách theo bộ</a></li>');
                                                $jq('.footer-static-content .login_link').remove();
                                            }
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                        <div class="footer-static-title" style="margin-top: 15px;">
                            <h3>Liên hệ</h3>
                        </div>
                        <div class="row" style="margin: 5px -5px;">
                            <div class="col-md-4"><em class="fa fa-map-marker" style="font-size:18px">&nbsp;</em>60-62
                                Lê Lợi, Q.1, TP. HCM</div>
                            <div class="col-md-4"><em class="fa fa-envelope"
                                    style="font-size:18px">&nbsp;</em>cskh@fahasa.com.vn</div>
                            <div class="col-md-4"><em class="fa fa-phone" style="font-size:18px">&nbsp;</em>1900636467
                            </div>
                        </div>
                        <div class="hidden-xs"
                            style="display: grid; grid-template-columns: repeat(5, 1fr); grid-gap: 25px; height: 80px; margin-right: 16px;">

                            <div class="footer-image-container">
                                <img src="https://cdn0.fahasa.com/media/wysiwyg/Logo-NCC/vnpost1.png" width="100px">
                            </div>

                            <div class="footer-image-container">
                                <img src="https://cdn0.fahasa.com/media/wysiwyg/Logo-NCC/ahamove_logo3.png"
                                    width="160px">
                            </div>
                            <div class="footer-image-container">
                                <img src="https://cdn0.fahasa.com/media/wysiwyg/Logo-NCC/icon_giao_hang_nhanh1.png"
                                    width="150px">
                            </div>
                            <div class="footer-image-container">
                                <img src="https://cdn0.fahasa.com/media/wysiwyg/Logo-NCC/icon_snappy1.png"
                                    width="150px">
                            </div>
                            <div class="footer-image-container">
                                <img src="https://cdn0.fahasa.com/media/wysiwyg/Logo-NCC/Logo_ninjavan.png"
                                    width="150px">
                            </div>


                        </div>
                        <div class="hidden-xs"
                            style="display: grid; grid-template-columns: repeat(5, 1fr); grid-gap: 25px; height: 80px; margin-right: 16px;margin-top: 10px;">
                            <div class="footer-image-container">

                                <img style="max-width: 120px;  "
                                    src="https://cdn0.fahasa.com/media//wysiwyg/Logo-NCC/vnpay_logo.png">
                            </div>
                            <div class="footer-image-container">
                                <img style="max-width: 120px;  "
                                    src="https://cdn0.fahasa.com/media//wysiwyg/Logo-NCC/ZaloPay-logo-130x83.png">
                            </div>
                            <div class="footer-image-container">
                                <img style="height: 50px; "
                                    src="https://cdn0.fahasa.com/media//wysiwyg/Logo-NCC/momopay.png">
                            </div>
                            <div class="footer-image-container">
                                <img style="height: 44px;  "
                                    src="https://cdn0.fahasa.com/media//wysiwyg/Logo-NCC/shopeepay_logo.png">
                            </div>
                            <div class="footer-image-container">
                                <img style="height: 65px; "
                                    src="https://cdn0.fahasa.com/media//wysiwyg/Logo-NCC/logo_moca_120.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 15px;">
                    <div class="col-sm-12 col-md-12 col-xs-12" style="text-align:center;">
                        <ul>
                            <li style="color: #adadad; padding-left: 14px;">Giấy chứng nhận Đăng ký Kinh doanh số
                                0304132047 do Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh cấp ngày 20/12/2005, đăng ký
                                thay đổi lần thứ 10, ngày 20/05/2022.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>