<form action='/user/reset-password/{{id}}/{{token}}' method='POST' class='form' id='form-1'>
    <div class="container">
        <div class="box">
            <h1>Nhập lại mật khẩu</h1>
            <div class='form-group'>
                <label for='gmail' class='form-label'>Gmail:</label>
                <input id='gmail' name='gmail' type='email' placeholder='VD: abc@gmail.com' readonly
                    class="fw-bold form-control-plaintext" value="{{gmail}}" />
                <span class='form-message'></span>
            </div>
            <div class='form-group'>
                <label for='password' class='form-label'>Mật khẩu:</label>
                <input id='password' name='password' type='password' placeholder='Nhập mật khẩu' class='form-control' />
            </div>
            <div class="buttonContainer">
                <a href='/loginform'>
                    <span class='text-center d-block mb-2'>Đã có tài khoản ?</span>
                </a>
            </div>
            <button type="submit"
                class="text-decoration-none registernBtn btn btn-link text-danger border border-danger fw-bold">Nhập mật
                khẩu</button>
        </div>
</form>