<form action='/user/forgot-password' method='POST' class='form' id='form-1'>
    <div class="container">
        <div class="box">
            <h1>Quên mật khẩu</h1>
            <div class='form-group'>
                <label for='gmail' class='form-label'>Gmail</label>
                <input id='gmail' name='gmail' type='email' placeholder='VD: abc@gmail.com' class='form-control' />
                <span class='form-message'></span>
            </div>
            <div class="buttonContainer">
                <a href='/loginform'>
                    <span class='text-center d-block mb-2'>Đã có tài khoản ?</span>
                </a>
            </div>
            <button type="submit"
                class="text-decoration-none registernBtn btn btn-link text-danger border border-danger fw-bold">Nhập
                Email</button>
        </div>
</form>