<div class="modalOverplay"></div>
<embed style="height: 100%; width: 100%; position: absolute; top: 0; left: 0;" 
       src="/src/public/PDF/{{specificBook.pdfFile}}#toolbar=0"  
       frameborder="0">
</embed>
