.customerQuestion {
    background-color: #81CFA0;
    padding: 40px 0;
    color: #fff;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
    margin-top: 130px;
    display: flex;
    height: 200px;
    margin-bottom: 78px;
  }
  .customerQuestion h1 {
    font-size: 40px;
    padding-left: 140px;
    font-weight: bold;
  }
  .text{
    padding-left: 200px;
  }
  .container-imgquestion img{
    height: 140px;
    width: 200px;
    padding-left: 50px;
  }
  .jointeam{
    padding-left: 140px;
    font-weight: initial;
    font-size: 24px;
  }

  @media screen and (max-width: 800px) {
    .container-cq {
      grid-template-columns: repeat(2, 1fr);
    }
    .text{
      padding-left: 10px;
    }
    .customerQuestion h1 {
      font-size: 20px;
      padding-left: 10px;
      font-weight: bold;
    }
    .jointeam{
      padding-left: 10px;
      font-weight: initial;
      font-size: 16px;
    }
    .container-imgquestion img{
      height: 140px;
      width: 150px;
      padding-left: 5px;
    }
  }